body,
#bigDiv {
    background-color: #444;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    z-index: 10;
    position: absolute;
    background: none;
    margin: 30px 40px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #222;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
